.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  color: black;
  padding: 20px;
}

.sidebarHeader h3 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebarLinks ul {
  list-style: none;
  padding: 0;
}

.sidebarLinks ul li {
  margin-bottom: 20px;
}

.sidebarLinks ul li a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebarLinks ul li a:hover {
  background-color: gray;
  color:white
}
